<h1>Picture Details
	<a href="http://localhost:3000/delete_picture/<%= @photo.id %>">Delete this picture</a></h1>

  <p> <%= @photo.caption %></p>
  <p> <img src = "<%= @photo.source %>" alt="gif" width ="200"></p> 


						

